<!DOCTYPE html>
<html>
<head>
    <title>VideoStream</title>
</head>
<body>
<div style="position:fixed; top:0px; left:0px; width:1280px; height:720px; background-color:#e2e9e9;color:#095170;">



    <div  class="example-display" style="position:fixed; top:70px; left:40px;">
    <img id="bg" src="{{ url_for('video_feed') }}">
    </div>

<p style="position:fixed; top:120px;left:890px;font-family:bold;font-size: 20pt">
        Real Time Pothole Detector</p>
    <p style="position:fixed; top:220px;left:1000px;font-family:bold;font-size: 18pt">
       By</p>

   <p style="position:fixed; top:260px;left:900px;font-family:bold;font-size: 18pt">swati sinha & maitry sinha</p>

</body>
</html>